
.go-top-container{
    position: fixed;
    bottom: 15rem;
    right: -0.1rem;
    width: 2.4rem;
    height: 2.4rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background-color:#1f1e1e9a;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    z-index: -1;
}

.go-top-button i {
    position: absolute;
    font-size: 2rem;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #f9c744;
    transition: .4s                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .6s ease-in-out;
    width: 3.7rem;
    height: 3.7rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;
    }
    25%{
        width: 4rem;
        height:4rem;
    }
    50%{
        width: 7rem;
        height: 7rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}