:root{
    --color-secciones-1: #1f1e1e;
    --color-secciones-2: #d9d9d9;
    --texto-blanco: #ffffff;
    --color-secundario-amarillo:#f9c744;
    --navbar-color: #f9f9f9;  
}

html{
    border: none;
    box-sizing: border-box;
}
.container-fluid{
    padding: 0;
    margin: 0;
}

/*NAVBAR*/

.color-navbar{
    background-color: var(--navbar-color);
}

/*VARIABLES COLORES*/
.colorSeccion2{
    background-color:var(--color-secciones-2);
}
.colorSeccionNegro{
    background-color: var(--color-secciones-1);
}

/**VARIABLES PARA TEXTOS**/
.fs-7{
    font-size: 0.8rem;
 }
.texto-blanco{
    color: var(--texto-blanco);
}
.colorAmarillo{
    color: var(--color-secundario-amarillo);
}
h2{
    font-family: "Unica One", sans-serif;
}

.fuenteUnica{
    font-family: "Unica One", sans-serif;
}
.upperCase{
    text-transform: uppercase;
}

.ancho-25{
    width: 20%;
}

.sub-titulo{
    font-size: small;
}

.super-titulo{
    font-size: 4rem;
    text-align: center;
    margin-top: 4%;
}
/*FINAL VARIABLES DE TEXTO*/