:root{
    --color-secciones-1: #1f1e1e;
    --color-secciones-2: #d9d9d9;
    --texto-blanco: #ffffff;
    --color-secundario-amarillo:#f9c744;
    --navbar-color: #f9f9f9; 
    --color-texto-secundario: #d9d9d9 ; 
}

html{
    border: none;
    box-sizing: border-box;
}
.container-fluid{
    padding: 0;
    margin: 0;
}

/*NAVBAR*/

.sombra{
    box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);
}


.color-navbar{
    background-color: var(--navbar-color);
}

/*VARIABLES COLORES*/
.colorSeccion2{
    background-color:var(--color-secciones-2);
}
.colorSeccionNegro{
    background-color: var(--color-secciones-1);
}

/**VARIABLES PARA TEXTOS**/
.text-shadow{
    text-shadow: 1px 7px 2px rgba(0,0,0,0.08);
}

.color-texto-secundario{
    color: var(--color-texto-secundario);
}
.fs-7{
    font-size: 0.8rem;
 }

 .fs-titulo-mediano{
    font-size: 2em;
 }
.texto-blanco{
    color: var(--texto-blanco);
}
.colorAmarillo{
    color: var(--color-secundario-amarillo);
}

.fuenteUnica, h2{
    font-family: "Unica One", sans-serif;
}
.upperCase{
    text-transform: uppercase;
}

.ancho-25{
    width: 20%;
}

.sub-titulo{
    font-size: small;
}

.super-titulo{
    font-size: 4em;
    text-align: center;
    margin-top: 4%;
}
@media (max-width: 768px) {
    .super-titulo{
        font-size: 1.7em ;       
    }    
  }

/*FINAL VARIABLES DE TEXTO*/