.contenedor {
    display: grid;
    place-items: center;
}

.texto{
    font-size: 100px ;
}

.ancho-maximo{
    width: 100%;
   max-width: 640px;
   margin: auto;
}

.sombra{
    box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);
}


@media (max-width: 768px) {
    .texto{
        font-size: 40px ;
    }

    
    
  }